# Server Configuration
PORT=3001


# JWT Configuration
JWT_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiI2OTJjYTM3YS1jNDhjLTQ1NjctOTgxNy0zNWI5NjVmZDQ2MjEiLCJlbWFpbCI6InRob21wc29uZXJlZ2hhMDA1QGdtYWlsLmNvbSIsImVtYWlsX3ZlcmlmaWVkIjp0cnVlLCJwaW5fcG9saWN5Ijp7InJlZ2lvbnMiOlt7ImRlc2lyZWRSZXBsaWNhdGlvbkNvdW50IjoxLCJpZCI6IkZSQTEifSx7ImRlc2lyZWRSZXBsaWNhdGlvbkNvdW50IjoxLCJpZCI6Ik5ZQzEifV0sInZlcnNpb24iOjF9LCJtZmFfZW5hYmxlZCI6ZmFsc2UsInN0YXR1cyI6IkFDVElWRSJ9LCJhdXRoZW50aWNhdGlvblR5cGUiOiJzY29wZWRLZXkiLCJzY29wZWRLZXlLZXkiOiJhYzNkMTI3NmIyYWUwZjI0ZGFlZSIsInNjb3BlZEtleVNlY3JldCI6IjhlNWYxMGFiZjIzYTExZDJjMGFkNmEwZWMxOTQ0NjA5NzVhNjQxYjM4NGYwNTE0Mjg5NjJlMGY1OGQyMTQxN2IiLCJleHAiOjE4MDIyODU4NjF9.2wqWyW0ZeRcbj7SzVs0YytAlCJem1e3i0ZdwpBhGrxU


# Blockchain Configuration
ETHEREUM_RPC_URL=https://base-mainnet.g.alchemy.com/v2/tFIY8e1UekIvAUpP_t7fd
CONTENT_REGISTRY_ADDRESS=0x2A09a64C88713320fAa92D5eb3708CdE3CF4F0D2
ROYALTY_PAYOUT_ADDRESS=0x96AE27E665304d99A41f11c11C516A1a924B5579

# IPFS Configuration

PINATA_API_KEY=ac3d1276b2ae0f24daee
PINATA_SECRET_KEY=8e5f10abf23a11d2c0ad6a0ec194460975a641b384f051428962e0f58d21417b




# World ID Configuration
WORLD_APP_ID=app_b282c65bc35981c8851a02e54cf4361c
WORLD_ACTION_ID=gerani

